{
    "presets": [
        "es2015",
        "stage-3",
        "es2015-ie"
    ],
    "plugins": [
        "./babel-plugins/first-babel-plugin.js",
        "babel-plugin-transform-es2015-modules-commonjs"
		
    ]
}