@import '../../../src/common/style/common';

.add-new-article, .edit-new-article {
  flex-grow: 1;
  @include container;
  @include pad-arround(1);
  display: block !important;

  h2 {
    @include font-title($font-size: 32px, $color: $brown-light);
    text-align: center;
    display: block;
    border-top: 4px solid $brown;
    @include padding-leader(1);
    @include trailer(1);
  }

  .elegant-image-button {
    display: block;
    @include font-title($font-size: 24px, $color: $white);
    background: $brown;
    border: 1px solid $white;
    @include pad(lines(1));
    @include rhythm($padding-leader: 1/6, $padding-trailer: 1/6);
    cursor: pointer;

    #{active-state()} {
      outline: none;
      background: transparentize($brown, .2);
    }

    input {
      display: none;
    }
  }

  form {
    width: 100%;
    text-align: left;
  }

  fieldset {
    @include trailer(1);
    border: none;
  }

  label {
    @include font-primary(24px);
  }
}


.elegant-input {
  @include pad(lines(1/3));
  display: block;
  height: lines(5/3);
  width: 400px;
  @include font-title($font-size: 24px, $color: $teal);
  @include trailer(2/3);

  #{active-state()} {
    outline: none;
  }
}

.elegant-button {
  display: block;
  @include font-title($font-size: 24px, $color: $white);
  background: $brown;
  border: 1px solid $white;
  @include pad(lines(1));
  @include rhythm($padding-leader: 1/6, $padding-trailer: 1/6);
  cursor: pointer;
  float: right;


  #{active-state()} {
    outline: none;
    background: transparentize($brown, .2);
  }
}

.elegant-label {
  display: block;
  @include font-title($font-size: 24px, $color: $white);
  @include trailer(2/3);
  position: relative;
}

.elegant-textarea {
  @include font-title($font-size: 18px, $color: $teal);
  width: 100%;
  height: 300px;
}



textarea.ng-invalid-elegant-valid {
  box-sizing: border-box;
  border: 2px solid red;
}
