<div class="add-new-article">
  <form
    name="newArticle"
    id="newArticle"
    ng-submit="addNewArticleCtrl.onAddArticle()"
  >
    <fieldset>
      <label class="elegant-label" htmlFor="elegant-title">Insert Title</label>
      <input class="elegant-input" type="text" name="elegant-title" id="title" ng-model="addNewArticleCtrl.data.title" />
    </fieldset>
    <fieldset>
      <label class="elegant-image-button" htmlFor="elegant-image">
        <input
          type="file"
          name="image"
          id="elegant-image"
          ng-model="addNewArticleCtrl.data.image"
          nv-file-select
          nv-file-drop
          uploader="addNewArticleCtrl.uploader"
        />
        <span>Choose Image</span>
      </label>
      <div>{{addNewArticleCtrl.uploader.queue[0].file.name}}</div>
    </fieldset>
    <fieldset>
      <label
        class="elegant-label"
        htmlFor="elegant-text"
      >
        Insert Text
      </label>
      <textarea
        class="elegant-textarea"
        name="content"
        id="elegant-text"
        ng-model="addNewArticleCtrl.data.content"
      ></textarea>
    </fieldset>
    <input
      class="elegant-button"
      type="submit"
      value="Add Article"
    />
  </form>
</div>
<div class="">
  {{addNewArticleCtrl.data.title}}
  {{addNewArticleCtrl.data.content}}
  {{addNewArticleCtrl.uploader.queue[0].file.name}}
</div>
