extends layout

block content
  div(data-ng-app = "app")
    div(ui-view)
block current-script
  //- script(defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
  script(defer src="admin.js")
