extends layout


-var user=user
block content
  .articles.blog-article
  .add-article
    if user
      form(action="#" method="#" name="newArticle" id="newArticle")
        h4.elegant-register-heading Add New Article
        label.elegant-label Insert title
        input.elegant-input(type="text" name="title")
        input.elegant-button(type='submit' name='submit' value="publish" form="newArticle")
        label.elegant-label Insert text
        textarea.elegant-textarea(name="content" form="newArticle")
block current-script
  script(defer src="blog.js")
  
