extends layout

-var user=user
block content
  .backdrop  
  ul.articles
    .loader    
  .add-more-container
    button.all-visited(type='button') Show All Visited
block current-script
  script(defer src="bbc.js")
