@import '../../../../node_modules/compass-mixins/lib/compass/';
@import '../../../../node_modules/susy/sass/susy';

@import 'variables';
@import 'functions';
@import 'placeholders';
@import 'mixins';

@include global-reset;

a {
    text-decoration: none;
}

li {
  list-style: none;
}

// TODO replace to login.scss

.name-info {
  text-transform: capitalize;
}

.login-page {
  height: 100%;
  background: $teal;
  @include flex-center;
}

.elegant-input {
  display: block;
  height: lines(5/3);
  width: 400px;
  @include font-title($font-size: 24px, $color: $teal);
  @include trailer(2/3);
  #{active-state()} {
    outline: none;
  }
}

.elegant-button {
  display: block;
  @include font-title($font-size: 24px, $color: $teal);
  background: $teal-ultra-light;
  border: 1px solid $white;
  @include pad(lines(1));
  @include rhythm($padding-leader: 1/6, $padding-trailer: 1/6);
  cursor: pointer;
  float: right;


  #{active-state()} {
    outline: none;
    background: $teal-light;
    color: $white;
  }
}

.elegant-label {
  display: block;
  @include font-title($font-size: 24px, $color: $white);
  @include trailer(2/3);
}

.elegant-register-heading {
  @include font-title($font-size: 28px, $color: $white);
  @include trailer(1);
  text-align: center;
}

.preheader {
  overflow: hidden;
  background: $teal-ultra-light
}

.preheaderInfo {
    float: left;
    @include font-title($color: $white);
    @include pad(lines(1/3))
    @include rhythm($padding-trailer: 1/3, $padding-leader: 1/3);

}
.login {
  float: right;
  a {
    display: block;
    @include font-title($color: $teal);
    background: $white;
    @include pad(lines(1/3));
    @include rhythm($padding-trailer: 1/3, $padding-leader: 1/3);

    #{active-state()}  {
      background: $teal;
      color: $white;
    }
  }
}

.add-article {
  @include trailer(1);
  @include pad(lines(1))
  @include rhythm($padding-trailer: 1, $padding-leader: 2);
  justify-content: flex-start;
  background: $teal-light;

  form {
    width: 100%;
  }

}

.elegant-textarea {
  @include font-title($font-size: 18px, $color: $teal);
  width: 100%;
  height: 300px;
  @include trailer(1);

}

.blog-article .descriptor {
  top: auto;
  bottom: 0;
  border: 2px solid $gray;
  border-width: 0 1px 2px 1px;
}
